ZONE=xxx.local
NAMESERVER=127.0.0.1
REVERSE_ZONES=168.192.in-addr.arpa,8.b.d.0.1.0.0.2.ip6.arpa
TTL=3600
RECORDS_FILE=/config/records.yaml
MARKER_PREFIX=x-dyn:
RECONCILE_INTERVAL=900
ALLOW_EMPTY=false
DRY_RUN=false
HEARTBEAT_FILE=/run/last-reconcile
KEYRING_JSON={"xxx":"xxx"}
